@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");

:root {
	--r10: 10px;
	--r5: 5px;
	// Colors
	--system0: white;
	--system1: #ececec;
	--system2: #dbdbdb;
	--system3: black;
	--txtColor0: black;
	--txtColor1: white;
}
$border: 1px solid var(--system1);
$glassBorder: 1px solid rgba(228, 228, 228, 0.3);

$btnMargin: 5px;
$btnPadding: 8px 12px 8px 12px;
$miniBtnPadding: 0.5em 1em 0.5em 1em;
$padding: 15px;
$margin: 15px;

$lightBlue: #c1dde1;
$blue: #006372;
$lightGreen: #bae3a7;
$green: #72db30de;
$lightYellow: #ffde88;
$yellow: #6f5000;
$red: #720000;
$lightRed: #e3a7a7;

$lightBorder: 1px solid var(--system0);

$shadowSmallest: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadowExtraSmall: 0px 4px 8px rgba(0, 0, 0, 0.12);
$shadowSmall: 0 5px 10px rgba(0, 0, 0, 0.12);
$shadowMedium: 0 8px 30px rgba(0, 0, 0, 0.12);
$shadowLarge: 0 30px 60px rgba(0, 0, 0, 0.12);
$shadowHover: 0 30px 60px rgba(0, 0, 0, 0.12);

$scale: scale3d(1.05, 1.05, 1.05);

$transitionSpeed: 0.3s;

body {
	background-color: var(--system0);
}

.gradientText {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		from(#00a9e8),
		to(#24f300)
	);
	background-image: -webkit-linear-gradient(left, #00a9e8, #24f300);
	background-image: linear-gradient(90deg, #00a9e8, #24f300);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--system2);
	border-radius: 10px 0px 0px 10px;
}

::-webkit-scrollbar-track {
	margin: $margin;
	width: 5px;
	height: 5px;
	background-color: transparent;
}

.versionBadge {
	user-select: none;
	border-radius: var(--r10);
	border: $border;
	background-color: var(--system1);
	color: var(--txtColor0);
	padding: $padding/2 $padding;
}
hr {
	margin: 0 $padding * -2;
	background-color: var(--system1);
	border: $glassBorder;
}

h1 {
	font-size: 2em;
	font-weight: bold;
}
h4 a {
	color: var(--txtColor0);
	text-decoration: none;
}
* {
	font-family: "Sawarabi Gothic", sans-serif;
	// font-family: Arial, Helvetica, sans-serif;
}

.versionSegment {
	box-sizing: border-box;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	margin-bottom: $padding * -1.7;
}

@mixin blurEffect {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background: radial-gradient(
		86.36% 107.55% at 6.49% 12.32%,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.5) 100%
	);
	// border: $border;
}

.classicHeader {
	@include blurEffect;
	border-radius: var(--r5);
	padding: $padding;
}

header {
	user-select: none;
}

.startMenu {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;

	.logo {
		width: 300px;
		height: auto;
	}
	button {
		margin-bottom: 10px;
	}
}

.dashMenu {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

a {
	color: gray;
	cursor: pointer;
}

// Buttons
.standardBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	gap: 5px;
	border-radius: var(--r5);
	padding: $btnPadding;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	transition: $transitionSpeed / 2;
	background-color: var(--system3);
	border: 1px solid var(--system3);
	color: var(--txtColor1);
	&:hover {
		transform: $scale;
		box-shadow: $shadowSmall;
	}
	&:disabled {
		opacity: 0.5;
	}
}
.themeBtn {
	display: flex;
	width: auto;
	height: min-content;
	gap: $margin;
	padding: $padding/3;
	border-radius: var(--r5);
	img {
		border-radius: var(--r5);
		border: 2px solid var(--system1);
		box-shadow: $shadowSmall;
		width: 50px;
	}
	h4 {
		padding: 0;
		margin: auto 0px;
	}
	&:hover {
		cursor: pointer;
		color: var(--txtColor1);
		background-color: var(--system3);
	}
}
.themeColorBtn {
	border: 1px solid transparent;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: auto;
	width: min-content;
	gap: $margin/5;
	padding: $padding/2;
	border-radius: var(--r10);
	div {
		width: 15px;
		height: 15px;
		border-radius: var(--r5);
	}
	&:hover {
		cursor: pointer;
		border: $border;
		background-color: var(--system0);
		box-shadow: $shadowSmallest;
	}
}

.iconBtn {
	font-size: large;
}
.gradeButton {
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
	border-radius: var(--r5);
	padding: $btnPadding;
	font-weight: bold;
	font-size: 12px;
	outline: none;
	cursor: pointer;
	transition: $transitionSpeed / 2;
	background-color: var(--system3);
	border: 1px solid var(--system3);
	color: var(--txtColor1);
	&:hover {
		transform: $scale;
		box-shadow: $shadowSmall;
	}
	&:disabled {
		opacity: 0.5;
	}
}

.alignItems {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	gap: $margin/3;
	h1 {
		margin-right: $margin;
	}
}
.spaceBetween {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.scheduleGrid {
	// padding: $padding / 2;
	display: grid;
	gap: 5px;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;

	div {
		font-weight: bold;
		text-align: center;
	}
	.periodLabel {
		@include blurEffect;
		border: 1px solid transparent;
		border-radius: var(--r5);
		padding: $padding / 3;
		margin: 0;
		cursor: pointer;
		transition: $transitionSpeed/5;
		&:hover {
			border: $border;
			background-color: var(--system1);
		}
		.periodAlign {
			margin: 0;
			padding: 0;
			height: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			h3 {
				margin: 0;
			}
			time {
				color: var(--txtColor1);
				border-radius: var(--r5);
				background-color: var(--system3);
				padding: 2px 5px;
			}
		}
	}
	.dayLabel {
		user-select: none;
		margin: $margin/3 auto;
		@include blurEffect;
		border-radius: var(--r10);
		width: fit-content;
		height: fit-content;
		padding: 10px $padding;
	}
	#dayLabelToday {
		cursor: pointer;
		background-color: var(--system0);
		border: $border;
		box-shadow: $shadowSmall;
		&::before {
			content: "今日：";
		}
	}

	.cell,
	.cellHover {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		border-radius: var(--r5);
		font-weight: bold;
		height: 100%;
		// background-color: var(--system2);
		background-color: var(--system1);
		transition: $transitionSpeed/5;

		h2 {
			margin: 0;
		}
		a {
			font-size: 13px;
			margin-top: -18px;
			text-decoration-style: dashed;
			text-decoration-color: rgb(58, 58, 58);
			text-decoration-thickness: 0.05em;
			text-underline-offset: 1.5px;
			color: black;
		}
	}
	.cell {
		cursor: default;
		.cellNameHover {
			cursor: pointer;
		}
	}
	.cellHover:hover,
	.cellNameHover:hover .cell {
		cursor: pointer;
	}
}

.deizuInput,
.deizuTextArea,
input[type="time"] {
	@include blurEffect;
	background: none;
	background-color: var(--system0);
	border: $border;
	padding: 10px;
	outline: none;
	transition: 0.5s;
	border-radius: var(--r5);
	transition: $transitionSpeed;
	&:focus {
		border: $border;
		box-shadow: $shadowExtraSmall;
	}
}
.deizuTextArea {
	resize: vertical;
}
// select {
// 	@include blurEffect;
// 	cursor: pointer;
// 	border: $border;
// 	padding: 10px;
// 	outline: none;
// 	transition: 0.5s;
// 	border-radius: var(--r5);
// 	transition: $transitionSpeed;

// 	&:hover {
// 		box-shadow: $shadowSmall;
// 	}
// }

.duoGrid {
	display: grid;
	.centerDiv {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.card {
	color: var(--txtColor0);
	padding: $padding * 2;
	margin: $margin * 2;
	border-radius: var(--r10);
	box-shadow: $shadowMedium;
	// border: $border;
	min-width: 300px;
	max-width: 600px;
	// h1 {
	// 	padding: $padding;
	// }
}

.blue {
	background-color: $lightBlue;
}
// .yellow {
// 	border: 1px solid $lightYellow;
// 	background-color: $lightYellow;
// }

.centerBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 2.2em 0;

	button {
		width: 200px;
		// min-width: 100px;
	}
}

.closeBtn {
	margin-bottom: 5px;
	button {
		user-select: none;
		background: none;
		cursor: pointer;
		font-size: 20px;
		outline: none;
		border: none;
		border-radius: var(--r5);
		padding: 0px 5px;
		width: 30px;
		height: 30px;
		float: right;
		transition: $transitionSpeed;

		&::before {
			content: "✕";
		}
		&:hover {
			color: var(--txtColor0);
			background-color: var(--system2);
		}
	}
}

.lightBtn {
	color: var(--txtColor0);
	background-color: var(--system2);
	border: $border;
}

@mixin slideSide {
	display: flex;
	justify-content: left;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar-thumb {
		background: var(--system2);
		border-radius: 10px 10px 0px 0px;
	}
}
.slideSide {
	@include slideSide;
	padding: $padding;
	padding-bottom: $padding * 3;
	gap: $margin/3;
}

//Popup
.popup {
	border-radius: var(--r10);
	padding: $padding;
	background-color: var(--system0);
	box-shadow: $shadowLarge;
	border: $border;
	outline: none;
	position: fixed;
	top: calc(15% - 25px);
	bottom: calc(25% - 25px);
	width: 50%;
	height: fit-content;
	overflow-y: auto;
	max-width: 400px;
	z-index: 10;
	transition: $transitionSpeed;
	animation: selectAni $transitionSpeed;

	.cellNameData {
		display: flex;
		align-items: center;
		div {
			display: flex;
			align-items: center;
			gap: $margin/3;
			border: $border;
			margin: $margin/3;
			border-radius: var(--r5);
			padding: $padding/2;
			width: fit-content;
			font-size: small;
			user-select: none;
		}
		.resetAllBtn {
			&:hover {
				cursor: pointer;
				background-color: var(--system1);
			}
		}
	}

	.colors {
		padding: $padding/3;
		section {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: $margin/2;
			button {
				height: 15px;
				width: auto;
				cursor: pointer;
				outline: none;
				border: none;
				border-radius: var(--r5);
				transition: $transitionSpeed;
				&:hover {
					box-shadow: $shadowSmall;
				}
			}
		}
		div {
			padding: $padding/3;
			display: flex;
			gap: $padding/3;
			flex-direction: row;
			align-items: center;
			border-radius: var(--r5);
			// width: min-content;
			margin-top: $margin/1.5;
			background-color: var(--system3);
			input[type="color"] {
				border-radius: var(--r5);
				width: 40px;
				cursor: pointer;
				outline: none;
				border: none;
				padding: $miniBtnPadding;
				transition: $transitionSpeed;
			}
			input[type="color"]::-webkit-color-swatch-wrapper {
				padding: 0;
			}
			input[type="color"]::-webkit-color-swatch {
				border: none;
			}
			label {
				font-size: 14px;
				width: 80px;
				color: var(--txtColor1);
			}
		}
	}

	.displayTitle {
		border: 1px solid transparent;
		text-align: center;
		padding: 5px;
		margin: $margin/3;
		border-radius: var(--r5);
		transition: $transitionSpeed;
	}
	.displayLink {
		margin: 5px 0px 0px 0px;
		overflow-x: auto;
		&::-webkit-scrollbar-thumb {
			background: var(--system2);
			border-radius: 10px 10px 0px 0px;
		}
	}

	@keyframes selectAni {
		0% {
			border-radius: 5px;
			transform: scale3d(0, 0, 0) translateY(-10px);
		}
		35% {
			transform: scale3d(1.05, 1.05, 1.05) translateY(-50px);
		}
	}
}
.displayDescription {
	color: var(--txtColor0);
	background-color: var(--system1);
	border-radius: var(--r5);
	padding: $padding/3 $padding/1.5;
	width: fit-content;
	margin: $margin/3 auto;
}

.banner {
	padding: $padding * 2;
	border-radius: var(--r5);
	box-shadow: $shadowMedium;
	margin: 0;
}
.cautionbanner {
	border: 1px solid rgb(245, 187, 187);
	background-color: rgb(255, 212, 212);
	color: red;
}
.announceBanner {
	border: 1px solid rgb(187, 198, 245);
	background-color: rgb(212, 231, 255);
	color: rgb(0, 102, 255);
}

// screenshot mode
.screenshotTitle {
	display: none;
}

.screenshotMode {
	background-color: var(--system0);
	user-select: none;
	z-index: 4;
	overflow-x: scroll;
	transition: $transitionSpeed * 2;
	box-shadow: $shadowLarge;
	transform: translateY(-15%);
	padding: $padding/3;
	.screenshotTitle {
		color: var(--txtColor0);
		text-align: center;
		display: block;
		margin-bottom: $margin/3;
	}
	.waterMark {
		opacity: 1;
	}
}
.waterMark {
	opacity: 0;
	user-select: none;
	text-align: center;
}

.backdrop {
	z-index: 0;
	@include blurEffect;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	transition: $transitionSpeed;
}

// Media Queries
@media screen and (max-width: 400px) {
	.duoGrid {
		grid-template-columns: 1fr;
	}
	.popup {
		right: calc(25% - 25px);
	}
	.eraseOnMobile {
		display: none;
	}
	.screenshotMode {
		padding: 5px;
		transform: translateY(-15%);
	}

	.cell,
	.cellHover {
		div {
			padding-top: 2px;
			padding-bottom: 2px;
			h2 {
				font-size: 16px;
				line-height: 16px;
			}
		}
	}
	.loginEditor {
		padding: 2%;
	}
}
@media screen and (min-width: 401px) and (max-width: 500px) {
	.duoGrid {
		grid-template-columns: 1fr;
	}
	.popup {
		right: calc(25% - 25px);
	}
	.eraseOnMobile {
		display: none;
	}
	input {
		max-width: 120px;
	}
	.screenshotMode {
		padding: 5px;
		transform: translateY(-18%);
	}

	.cell,
	.cellHover {
		div {
			padding-top: 2px;
			padding-bottom: 2px;
			h2 {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}
	.loginEditor {
		padding: 3% 5% 0% 5%;
	}
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
	.duoGrid {
		grid-template-columns: 1fr;
	}
	.popup {
		right: calc(25% - 25px);
	}
	.eraseOnMobile {
		display: none;
	}
	input {
		max-width: 150px;
	}
	.loginEditor {
		padding: 3% 9% 0% 9%;
	}
}
@media screen and (min-width: 1001px) and (max-width: 1500px) {
	.startMenu,
	.dashMenu {
		height: 100vh;
	}
	.duoGrid {
		grid-template-columns: 1fr 1fr;
	}
	.popup {
		right: calc(35% - 25px);
	}
	.loginEditor {
		padding: 3% 13% 0% 13%;
	}
}
@media screen and (min-width: 1501px) {
	.startMenu,
	.dashMenu {
		height: 100vh;
	}
	.duoGrid {
		grid-template-columns: 1fr 1fr;
	}

	.popup {
		right: calc(40% - 25px);
	}
	#titleInput {
		width: 80%;
		max-width: 200px;
	}
	.loginEditor {
		padding: 3% 16% 0% 16%;
	}
}
.modalForm {
	padding: $padding/3;
	display: flex;
	gap: $padding/2;
	flex-direction: column;
	.deizuInput {
		min-width: none;
		max-width: none;
	}
}

.scheduleCenter {
	height: 100vh;
	margin: 3% 15% 0% 15%;
}

.loginEditor {
	height: 100vh;
}

[datatitle]:hover:after {
	z-index: 100;
	opacity: 1;
	transition: all 0.1s ease 0.5s;
	box-shadow: $shadowSmall;
	visibility: visible;
}

[datatitle] {
	position: relative;
	&:after {
		font-weight: normal;
		font-size: 14px;
		border: $lightBorder;
		content: attr(dataTitle);
		position: absolute;
		bottom: -2.5em;
		left: 50%;
		padding: $padding/3 $padding/2;
		white-space: nowrap;
		-moz-border-radius: var(--r5);
		-webkit-border-radius: var(--r5);
		border-radius: var(--r5);
		color: var(--txtColor0);
		background-color: var(--system0);
		// @include blurEffect;
		opacity: 0;
		visibility: hidden;
	}
}

.dashboardOthersheets {
	margin-top: $margin;
	max-height: 250px;
	overflow-y: scroll;
	border-radius: var(--r5);
	padding: $padding/2;
	section {
		color: var(--txtColor0);
		padding: $padding;
		border-radius: var(--r5);
		transition: $transitionSpeed/2;
		&:hover {
			cursor: pointer;
			background-color: var(--system3);
			box-shadow: $shadowExtraSmall;
			color: var(--txtColor1);
			font-weight: bold;
		}
	}
}

.backgroundImg {
	z-index: -5;
	position: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.profileBackgroundImg {
	position: absolute;
	transform: scale(1.02, 1.02);
	background-color: radial-gradient(
		86.36% 107.55% at 6.49% 12.32%,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.5) 100%
	);
	background-size: cover;
	opacity: 0.3;
	filter: blur(30px);
	border-radius: 30%;
	// margin-top: -5%;
	top: -10%;
	width: 95%;
	height: 20%;
	max-height: 200px;
	object-fit: cover;
}
.profileImg {
	margin-top: 5%;
	// border-radius: 37% 63% 41% 59% / 67% 54% 46% 33%;
	// border-radius: 40px;
	border-radius: var(--r10);
	// border: 5px solid rgba(228, 228, 228, 0.3);
	border: $border;
	width: 130px;
	height: 130px;
}

details {
	cursor: pointer;
}
// .selectorDiv {
// 	cursor: pointer;
// 	border-radius: var(--r10);
// 	border: $border;
// 	padding: $padding;
// 	margin: $margin/3;
// 	transition: $transitionSpeed/2;
// 	h3 {
// 		margin-bottom: 0;
// 	}
// 	&:hover {
// 		transform: $scale;
// 		box-shadow: $floatBoxShadow;
// 		border: 1px solid $blue;
// 	}
// }

.templateSelector {
	animation: templateSelectorAni $transitionSpeed;
}
@keyframes templateSelectorAni {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	100% {
		transform: translateX(0px);
	}
}

.dropdown {
	position: absolute;
	transform: translateX(13%) translateY(15%);
	border-radius: var(--r10);
	width: 300px;
	height: 300px;
	border: $border;
	padding: $padding;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 10;
	background-color: var(--system0);
	box-shadow: $shadowMedium;
	.dropdownLeftIcon {
		border: 1px solid var(--system0);
		color: var(--txtColor1);
		background-color: var(--system3);
		border-radius: var(--r5);
		font-size: large;
		padding: $padding/3 $padding/1.5;
		margin-right: $margin;
		margin-left: $margin/2;
	}
	.dropdownRightIcon {
		color: var(--system3);
		margin-left: auto;
		padding-right: $padding;
	}
}
.dropdownItem,
.dropdownItemSheet {
	color: var(--txtColor0);
	text-decoration: none;
	cursor: pointer;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius);
	padding: $padding/3;
	&:hover {
		background-color: var(--system1);
		border-radius: var(--r5);
		time,
		.dropdownLeftIcon {
			box-shadow: $shadowExtraSmall;
		}
	}
}
.dropdownItemSheet {
	padding-left: $padding;
	time {
		border: 1px solid var(--system0);
		color: var(--txtColor1);
		font-size: 12px;
		float: right;
		border-radius: var(--r5);
		padding: $padding/3 $padding/1.5;
		margin-right: $margin/2;
		margin-left: $margin;
		background-color: var(--system3);
	}
}

.submenuBox {
	margin-top: $margin;
	border-radius: var(--r5);
	// border: $border;
	color: var(--txtColor0);
	background-color: var(--system1);
	padding: $padding;
}
.profileSectionFlex {
	border-radius: var(--r5);
	padding: $padding;
	display: flex;
	gap: $margin;
	align-items: center;
	margin-bottom: $margin;
	img {
		width: 70px;
		height: 70px;
		border-radius: var(--r10);
	}
	h3,
	small {
		color: var(--txtColor0);
		margin: 0;
	}
}
